<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style type="text/css">
        body { background:rgb(248, 228, 204) !important; } 
     </style>
</head>
<body>
    <div class ="container">
        <div class = "jumbotron text-center" style="background:rgb(233, 175, 128) !important">
            <h1><strong>Mission to Mars</strong></h1>
            <a href="/scrape" class="btn btn-default btn-block active" role="button">Scrape New Data</a>
        </div>
        <!-- Mars News -->
        <div class="row" id="mars-news">
            <div class="col-xs-12 col-md-12">
             <div class ="media">
                 <div class ="media-body">
                     <h2><strong> Latest Mars News</strong></h2>
                     <h4 class="media-heading">{{mars.news_title}}</h4>
                     <p>{{mars.news_paragraph}}</p>
                 </div>
             </div>
            </div>
        </div>
        <!--Featured Image-->
        <div class="row" id="mars-featured-image">
            <div class="col-xs-12 col-md-8">
                <h2><strong>Featured Mars Image</strong></h2>
                <!-- if images is False/None/non-existent, then default to error message -->
                <img 
                    src="{{mars.featured_image | default('static/images/error.png', true) }}" 
                    class="img-responsive" 
                    alt="Responsive Image"
                />
            </div>
            <!--Mars Facts-->
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class = "table-responsive">
                    <div id="mars-facts">
                        <h4><strong>Mars Facts</strong></h4>
                        {{mars.facts | safe}}
                    </div>
                </div>
            </div>
        </div> 
        <!--Hemisphere Images-->
        <div class="row" id="mars-hemisphere-image-header">
            <div class="page-header">
                <h2 class ="text-center"><strong>Mars Hemispheres</strong></h2>
            </div>
        
            {% for hemisphere in mars.hemispheres %}
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <img src="{{hemisphere.img_url | default('static/images/error.png', true)}}" alt="...">
                    <div class="caption">
                        <h3>{{hemisphere.title}}</h3>
                    </div>
                </div>
            </div>
            {% endfor %} 
        </div>            
    </div>  

</body>
</html>